<div class="row">
  <div class="col-md-6">
      <div class="card" >
          <ul class="list-group list-group-flush">
              <li class="list-group-item">

                <div class="field">
                  <%= f.label :title %>
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
                
              </li>
              <li class="list-group-item">
                <div class="field">
                 <%= f.label :banner_mage_url %>
                  <%= f.text_area :banner_image_url, class: 'form-control' %>
                </div>
                
              </li>
              <li class="list-group-item">

                <div class="field">
                  <%= f.label :description %>
                  <%= f.text_area :description, class: 'form-control' %>
                </div>
                
              </li>
              <li class="list-group-item">

                
                  <div class="actions">
                    <%= f.submit "Save blog post", class: 'btn btn-success btn-lg btn-blog' %>
                  </div>
                 
                
                
              </li>
            </ul>
          
    </div>
  </div>
    
      <div class="col-md-8">
        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body %>
        </div>
        
      </div>
  </div>

